// Colors
$primary-color: #000000;
$white-color: #ffffff;
$secondary-color: #141414;
$tertiary-color: #1f1f1f;

$duodecim-color: #858585;
$favorite-color: rgba(255, 255, 255, 0.8);

// Fonts
$font-family: 'Roboto', sans-serif;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// z-index
$z-index-header: 1000;
$z-index-favorite-button: 1;
