@import '../../../styles/variables.scss';

.t-base {
  min-height: 100vh;

  &__content {
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $breakpoint-medium) {
      padding: 16px;
    }
  }
}
